html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #ffffff;
    overflow:hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 275px;
    bottom: 0px;
    background-color: #f89927; /*Brand Orange 100*/
    -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

#left-scroll {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#left-margins {
    position: absolute;
    left: 20px;
    top: 10px;
    right: 5px;
    bottom: 10px;
    display: inline-block;
}

#left-disclaimer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*height: 140px;*/
    padding: 10px 10px;
    font-size: 11px;
}

#right {
    position: absolute;
    top: 0px;
    left: 275px;
    bottom: 0px;
    right: 0px;
}

#application-title {
    font-size: 40px;
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#slider-sun-azimuth-div div.slider-selection.tick-slider-selection,
#slider-sun-azimuth-div div.slider-tick.in-selection,
#slider-sun-altitude-div div.slider-selection.tick-slider-selection,
#slider-sun-altitude-div div.slider-tick.in-selection,
#slider-intensity-div div.slider-selection.tick-slider-selection,
#slider-intensity-div div.slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.btn-group {
    border-radius: 0px 0px;
    background: #fff;
    border-radius:4px;
/*    width: 75px;*/
}

.btn{
    width:75px;
}

.btn-spacing{
    margin-top: 10px;
}

.app-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.title {
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 3px;
}

.heading {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 3px;
}

.slider.slider-horizontal {
    margin-left: 10px;
    width: 200px;
}

.slider-tick {
    opacity: 1;
}

.separator {
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.popover a{
    color: #f89927; /*Brand Orange 100*/
}

.popover a:hover{
    color: #f89927; /*Brand Orange 100*/
}

.info-btn{
    font-size: 20px;
}

.popover-content{
    color: #6e6e6e; /*Brand Gray 200*/
}

.popover-title{
    background: #b4b4b4; /*Brand Gray 100*/
}

.popover{
    
}