<?xml version='1.0' encoding='utf-8' ?>
<ProxyConfig allowedReferers='http://maps.esri.com/rc/arctic,http://richiecarmichael.github.io/arctic' mustMatch='true'>
  <serverUrls>
    <serverUrl url='http://ngamaps.geointapps.org/arcgis/rest/services/Arctic_Summit/Arctic_DEM/ImageServer' matchAll='true' />
  </serverUrls>
</ProxyConfig>
<!-- See https://github.com/Esri/resource-proxy for more information -->